//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #c1401e;

//resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

//normalize
@import "_misc/normalize.scss";

//meadia
@import "_misc/media";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

//common
@import "blocks/common/btn.scss";
@import "blocks/common/section-title.scss";
@import "blocks/common/fixed-menu.scss";
@import "blocks/common/hamburger-menu-link.scss";
@import "blocks/common/ingredients.scss";
@import "blocks/common/composition.scss";
@import "blocks/common/kkal.scss";
@import "blocks/common/reviews-popup.scss";
@import "blocks/common/phone-menu.scss";

// blocks
@import "blocks/hero.scss";
@import "blocks/best.scss";
@import "blocks/burger.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/reviews.scss";
@import "blocks/order.scss";
@import "blocks/contacts.scss";