.composition {
  background: rgba(255, 255, 255, .9);
  border-radius: rem(5px);
  width: rem(270px);
  position: absolute;
  top: 0;
  left: 100%;
  display: none;

  @include tablets {
    top: 0;
    left: 100%;
  }

  @include phones {
    left: 100%;
  }

}

.composition__wrapper {
  display: flex;
  justify-content: space-around;

  .cross {
    display: none;
    margin-top: 20px;
    margin-right: 20px;

    @include tablets {
      display: inherit;
    }
  }
}

.composition__list {
  padding: rem(18px) rem(20px); 
}

.composition__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.composition__svg {
  width: rem(47px);
  height: rem(43px);
}

.composition__name {
  @include ubuntu(medium);
  font-size: rem(14px);
  margin: 0 rem(20px);
}

.composition__weight {
  font-size: rem(14px);
}