.kkal {
  position: absolute;
  bottom: 4%;
  left: 0;

  @include tablets {
    top: 0;
    right: 0;
    bottom: inherit;
    left: inherit;
  }

}

.kkal__weight {
  @include gagalin();
  font-size: rem(20px);
  color: #fff;
  opacity: .5;
  text-align: center;
  position: absolute;
  top: 40%;
}

.kkal__text {
  font-size: rem(14px);
}

.kkal__pic {
  position: relative;
}

.kkal__svg {
  width: rem(60px);
  height: rem(60px);
  opacity: 0.5;
}