.burger {
  background: #f9b43b;
  background: -moz-linear-gradient(top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -webkit-linear-gradient(top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b', GradientType=0);
  position: relative;
  display: flex;
  align-items: center;
}

.scroll__image {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.scroll__link {
  display: block;
}

.scroll__image-prev {
  left: -3%;
}

.scroll__image-next {
  right: -3%;
}

.burger__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__svg {
  width: rem(27px);
  height: rem(27px);
  transform: rotate(90deg);
  fill: #fff;
}

.scroll__svg_transform_rotate {
  transform: rotate(-90deg);
}

.burger__present {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
    padding: 0 17%;
    text-align: center;
  }
}

.burger__img {
  max-width: rem(505px);
  max-height: rem(329px);
}

.burger__picture {
  width: 100%;
}

.burger__item {
  display: flex;
  align-items: center;
}

.burger__wrapper {
  flex: 1;

  .section__title {
    color: #fff;
    padding-top: 0;
    margin-bottom: rem(57px);
    line-height: rem(64px);
   
    @include tablets {
      margin-bottom: rem(30px);
    }

    @include phones {
      font-size: rem(50px);
    }
  }

  @include tablets {
    text-align: center;
    margin-bottom: rem(30px);
  }
}

.burger__desc {
  @include ubuntu(light);
  color: #fff;
  font-size: rem(13px);
  line-height: rem(24px);
}

.burger__cash {
  @include gagalin();
  color: $orange;
  font-size: rem(72px);
}
.burger__cash-small {
  font-size: rem(30px);
}

.owl-next {
  background: url('../img/icons/arrow-scroll.svg') center center no-repeat;
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  right: -3%;
  width: 27px;
  overflow: hidden;
  height: 23px;
  padding-left: 27px;
}

.owl-prev {
  background: url('../img/icons/arrow-scroll.svg') center center no-repeat;
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -3%;
  content: '';
  display: block;
  width: 27px;
  overflow: hidden;
  height: 23px;
  padding-left: 27px;
}


// .burger__menu {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   @include tablets {
//     flex-direction: column;
//   }
// }
// .burger__item {
//   @include tablets {
//     width: 80%;
//     text-align: center;
//   }
//   .section__title {
//     color: #fff;
//     padding-top: 0;
//   }  
// }