.hero {
  background: url('../img/background/hero.jpg') center center no-repeat;
  background-size: cover;
}

.hero__wrapper {
  height: 80%;
  
  @include tablets() {
    height: 100%;
  }
}

.header {
  margin-top: rem(12px);
  display: flex;
  align-items: center;
}

.logo__link {
  display: block;
}

.logo__img {
  max-width: rem(90px);
  max-height: rem(70px);
}

.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-right: rem(15px);
  @include tablets() {
    display: none;
  }
}

.nav__item {
  display: flex;
  align-items: center;
  &:last-child {
    &:after {
      display: none;
    }
  }
  &:after {
    content: "";
    width: rem(4px);
    height: rem(4px);
    background: #fff;
    border-radius: 50%;
    margin: 0 rem(15px);
  }
}

.nav__link {
  @include ubuntu(medium);
  color: #fff;
  font-size: rem(13px);
  text-transform: uppercase;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__present {
  display: flex;
  align-items: center;

  @include tablets () {
    flex-direction: column;
    padding: 0 17%;
    text-align: center;
  }

  @include phones {
    padding: 0;
  }
}

.hero__image {
  max-width: rem(451px);
  max-height: rem(424px);
}

.hero__image-pic {
  width: 100%;
}

.hero__text {
  margin-left: rem(30px);
}

.hero__desc {
  @include lifehack();
  font-size: rem(65px);
  color: #fff;
  line-height: 1;

  @include phones () {
    font-size: rem(54px);
  }
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: -20%;
  @include tablets() {
  left: 49%;
  bottom: 3%;
  }
}