.menu {
  background: url('../img/background/menu.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.section-title_color_white {
  position: absolute;
  top: 7%;
  left: 7%;
  color: #fff;
}

.menu-acco {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.menu-acco__item {
  height: 100%;
  display: flex;
  &.active {
		.menu-acco__link {
			color: $yellow;
		}
	}
}

.menu-acco__img {
  width: rem(80px);
	display: block;
	height: 100%;
	@include cover;
  position: relative;
  cursor: pointer;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(20, 20, 20, 0.7);
  }
}

.menu-acco__link {
  font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;
	white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-20px);
  text-decoration: none;
}

.menu-acco__content {
  display: flex;
  height: 100%;
	background: rgba(#2f3234, .93);
	width: 0;
	overflow: hidden;
}

// .active_content {
//   width: 100%;
// }

.menu-acco__text {
  @include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	padding: rem(60px) rem(30px);
  line-height: 1.8;
}
